
nav{
    display: flex;
    flex-flow: row;
    padding: var(--gapTHxxs);
}
nav button{
    color: var(--colorLight);
    padding: 0 var(--gapxxs);
    background: none;
    font-family: var(--typeHead);
    font-weight: 600;
    font-size: var(--fontText);
    filter: drop-shadow(0px 0px 2px rgba(196, 217, 194, 0.082));
}
nav button:not(:first-of-type){
    border-left: 2px solid var(--colorLight);
}
nav button:hover{
    filter: drop-shadow(0px 0px 3px rgba(196, 217, 194, 0.641));
}