
body>main{
    display: flex;
    flex-flow: column;
    padding: var(--gaps);
    width: 100%;
    max-width: 1200px;
}
body>main>header{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 20vh;
}
body>main h2{
    color: var(--colorLight);
    font-size: var(--fontxl);
    text-align: center;
}
body>main>*+*{
    margin-top: var(--gapm);
}