
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Rajdhani&display=swap');


:root{
    
    /* config*/
    --confColorDark: rgb(7, 8, 6);
    --confColorLight: rgb(213, 218, 230);
    --confType: sans-serif;
    --confFont: 12px;

    /* Palette de couleurs */
    --colorDark: #010301;
    --colorDarkTr: #010301ea;
    --colorLight: #deedd9;
    --colorNeutral: #6a776b;
    --colorNeutralD: #8a8781;
    --colorNeutralL: #a6b1a6;
    --colorMain: #87d65a;
    --colorMainD: #31557E;
    --colorMainL: #A0CCFF;
    --colorSec: #E84B4B;
    --colorSecD: #9A3131;
    --colorSecL: #FFB7B7;
    --colorComp: #F1D192;
    --colorCompD: #DD960A;
    --colorCompL: #FFF0D3;

    --colorBasse: #0d9b2a;
    --colorBasseTr: #02821c3f;
    --colorBasseFade: #759b7e;


    --colorMoyenne: #ffaf10;
    --colorMoyenneTr: #de940046;
    --colorMoyenneFade: #c4b69b;

    
    --colorHaute: #d12121;
    --colorHauteTr: #d2101041;
    --colorHauteFade: #8f6c6c;

    --colorError: #ff1f1f;
    
    /* Police */
    --typeText: 'IBM Plex Sans', sans-serif;
    --typeHead: 'Rajdhani', sans-serif;

    /* Taille de polices */
    --fontxxs: clamp(12px, 1.5vw, 14px);
    --fontText: clamp(16px, 1.75vw, 20px);
    --fontxs: clamp(18px, 2.25vw, 22px);
    --fonts: clamp(20px, 3vw, 28px);
    --fontm: clamp(24px, 3.75vw, 32px);
    --fontl: clamp(32px, 4.75vw, 40px);
    --fontxl: clamp(38px, 6vw, 54px);
    --fontxxl: clamp(50px, 7.5vw, 66px);
    --fontHuge: clamp(60px, 9.25vw, 96px);
    --fontHuger: clamp(80px, 11.5vw, 120px);

    /* Taille de police statique*/
    --fontSText: 16px;
    --fontSxs: 20px;
    --fontSs: 22px;

    /* Espacement */
    --gapTHxxs: clamp(3px, .5vw, 5px);
    --gapSafe: 6px;
    --gapxxs: clamp(4px, 1vw, 8px);
    --gapxs: clamp(8px, 1.5vw, 14px);
    --gaps: clamp(12px, 1.75vw, 16px);
    --gapm: clamp(16px, 2.5vw, 24px);
    --gapl: clamp(24px, 3.5vw, 32px);
    --gapxl: clamp(32px, 5vw, 48px);
    --gapxxl: clamp(48px, 8vw, 96px);
    --gapHuge: clamp(84px, 10vw, 120px);

    /* Effets */
    --borderStd: 1px solid var(--colorDark);
}