
.app-taches>*+*{
    margin-top: var(--gapxs);
}
.app-taches>div:first-of-type{
    display: flex;
    gap: var(--gapxs);
}
.app-taches>div:last-of-type{
    position: relative;
    display: flex;
}
.app-taches>div:last-of-type>*{
    flex: 1;
}
