
.box-detail {
    display: flex;
    flex-flow: column;
    z-index: 1;
}
.box-detail>div{
    display: flex;
    flex-flow: row;
    gap: var(--gapl);
    justify-content: space-between;
    align-items: center;
}
.box-detail>article{
    padding-bottom: var(--gapm);
}
.box-detail>article>*+*{
    margin-top: var(--gapm);
}
.box-detail h2{
    text-align: center;
}
.box-detail button{
    max-width: max-content;
    padding: var(--gapThxxs);
    color: var(--colorLight);
    font-size: var(--fonts);
    filter: drop-shadow(0px 0px 5px var(--colorBasse));
}
.box-detail button:hover{
    filter: drop-shadow(0px 0px 2px var(--colorLight));
}
.box-detail>*+*{
    margin-top: var(--gaps);
}