
.box-formulaire{
    border: 1px solid var(--colorNeutral);
    border-radius: .4em;
    background-color: var(--colorDarkTr);
    filter: drop-shadow(0px 0px 4px #deedd969);
    color: var(--colorLight);
    padding: var(--gaps);
    position: absolute;
    z-index: 1;
}
.box-formulaire section{
    display: flex;
    flex-flow: column;
}
.box-formulaire form{
    display: flex;
    flex-flow: column;
    gap: var(--gapxs);
}
.box-formulaire section>button:first-of-type{
    max-width: max-content;
    padding: var(--gapThxxs);
    color: var(--colorLight);
    font-size: var(--fontxs);
    align-self: end;
    filter: drop-shadow(0px 0px 5px var(--colorBasse));
}
.box-formulaire section>button:first-of-type:hover{
    filter: drop-shadow(0px 0px 2px var(--colorLight));
}
.box-formulaire h4{
    font-size: var(--fontText);
}
.box-formulaire form>div>*+*{
    margin-top: var(--gapxxs);
}
.box-formulaire :is(input:not([type="radio"]), label, textarea){
    display: block;
}
.box-formulaire :is(input[type="text"], textarea){
    background-color: var(--colorNeutral);
    border: 1px solid var(--colorNeutralL);
    border-radius: .2em;
    padding: var(--gapxxs);
    font-family: inherit;
    font-size: var(--fontText);
}
.box-formulaire input[type="radio"]{
    display: none;
}
.box-formulaire input[type="radio"] + label{
    border-radius: 100px;
    border: 1px solid;
    color: var(--colorLight);
    padding: var(--gapTHxxs) var(--gapxxs);
    text-align: center;
    max-width: max-content;
}
.box-formulaire input[type="radio"]:hover + label{
    cursor: pointer;
}

input[type="radio"][id="importance3"] + label{
    border-color: var(--colorBasse);
    color: var(--colorBasse);
    filter: drop-shadow(0px 0px 4px var(--colorBasse));
}
.box-formulaire input[type="radio"][id="importance3"]:checked + label{
    background-color: var(--colorBasse);
    color: var(--colorDark);
}
input[type="radio"][id="importance3"]:hover + label{
    background-color: var(--colorBasseFade);
}

.box-formulaire input[type="radio"][id="importance2"] + label{
    border-color: var(--colorMoyenne);
    color: var(--colorMoyenne);
    filter: drop-shadow(0px 0px 4px var(--colorMoyenne));
}
.box-formulaire input[type="radio"][id="importance2"]:checked + label{
    background-color: var(--colorMoyenne);
    color: var(--colorDark);
}
input[type="radio"][id="importance2"]:hover + label{
    background-color: var(--colorMoyenneFade);
}

.box-formulaire input[type="radio"][id="importance1"] + label{
    border-color: var(--colorHaute);
    color: var(--colorHaute);
    filter: drop-shadow(0px 0px 4px var(--colorHaute));
}
.box-formulaire input[type="radio"][id="importance1"]:checked + label{
    background-color: var(--colorHaute);
    color: var(--colorDark);
}
input[type="radio"][id="importance1"]:hover + label{
    background-color: var(--colorHauteFade);
}

.box-formulaire input[type="radio"]:checked + label{
    font-weight: 600;
}
.box-formulaire form button{
    align-self: end;
    border: 1px solid var(--colorBasse);
    border-radius: 100px;
    color: var(--colorBasse);
    font-size: var(--fontText);
    font-weight: 600;
    max-width: max-content;
    padding: var(--gapTHxxs) var(--gapxs);
    filter: drop-shadow(0px 0px 1px var(--colorBasse));
}
.box-formulaire form button:hover{
    filter: drop-shadow(0px 0px 4px var(--colorBasse));
}