
.tag-importance{
    max-width: max-content;
    padding: var(--gapTHxxs) var(--gapxxs);
    border: var(--borderStd);
    border-radius: .4em;
}
.tag-importance.basse{
    border-color: var(--colorBasse);
    color: var(--colorBasse);
    filter: drop-shadow(0px 0px 2px var(--colorBasse));
}
.tag-importance.moyenne{
    background-color: var(--colorMoyenne);
}
.tag-importance.haute{
    background-color: var(--colorHaute);
}