
:root{
    --left: 0; 
    --top: 0;
}

.base-position{
    top: var(--top);
    left: var(--left);
    transition: left .3s;
}
.base-position.hide-left{
    left: -100vw;
    transition: left .3s;
}