*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 20px;
    background-color: grey;
}
body>*+*{
    margin-top: 40px;
}
label{
    display: block;
}
div>label{
    display: inline;
}
input{
    border-style: none;
    background-color: inherit;
    border-bottom: 1px solid black;
}
button{
    padding: 5px;
}
.border-section{
    padding: 20px;
    border: 1px solid black;
}

section>*+*{
    margin-top: 10px;
}

form>*+*{
    margin-top: 10px;
}
.tache{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}